<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="FoodPlaceConnection" connectionString="Server=tcp:vjxgc58rqs.database.windows.net,1433;Database=Food; User ID=academyfooduser@vjxgc58rqs; Password=AcademyUser123; Trusted_Connection=False; Encrypt=True; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="AppHarborConn" connectionString="Server=e2be82cd-7edd-4605-9fa5-a3a9008b365a.sqlserver.sequelizer.com;Database=dbe2be82cd7edd46059fa5a3a9008b365a;User ID=elklmbnlutdmorqr;Password=tYRnTCz5hX5shYh4toi5PDgAXsLvbhXnMzu3vzpPbDtNgmu6KojuFSbWSpwzZe38;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>